<%- include ('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/homenavbar.ejs')%>

    <br>
    <div class="container">

        <div class="card">

                <div class="card-header">   
                    <h2><%= article.title %></h2>
                </div>

                <div class="card-body">
                    <%- article.body %>> <!--O hifen serve pra pedir pra exibir a variavel formatando ela pra HTML -->
                </div>

            </div>
    </div>

</body>
<%- include ('../../partials/footer.ejs') %>