<%- include ('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs')%>

    <div class="container">
        <hr>
        <h2 class="text-center">Categorias</h2>
        <a href="/admin/categories/new" class="btn btn-success">Criar nova categoria</a>
        <hr>
        <table class="table table-bordered text-center">

            <thead> <!--Cabeçalho da tabela-->
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody> <!--Corpo da tabela-->
                <% categories.forEach((category) => { %>

                    <tr>
                        <th><%= category.id %></th>
                        <th><%= category.title %></th>
                        <th><%= category.slug %></th>
                        <th>
                            <a href="/admin/categories/edit/<%= category.id %>"class="btn btn-warning">Editar</a>
                            <form method="post" action="/categories/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                                <input type="hidden" name="id" value="<%= category.id %>">
                                <button class="btn btn-danger">Excluir</button>
                            </form>
                        </th>
                    </tr>

                <% }) %>
            </tbody>
        </table>
    </div>

</body>
<%- include ('../../partials/footer.ejs') %>
<script>
    function confirmDelete(event, form){
        event.preventDefault(); // Vai impedir que o formulario seja submetido (enviado)
        var decision = confirm("Você realmente deseja excluir?") // Pop up que aparece na tela para que o usuario posas confirmar alguma solicitação, ele retornar true ou false dependendo da resposta do usuario
        if(decision){
            form.submit();
        }
    }
</script>